<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selectra example</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="./selectra.min.css">
</head>
<body>
  <div class="container">
    <h1>Selectra example</h1>
    <form>
      <p>
        <label for="selectCustom">Gender</label>
        <select name="" id="selectCustom" class="btn btn-secondary" required>
          <option value="M" selected>Male</option>
          <option value="F">Female</option>
          <option value="X">X</option>
          <option value="disabled" disabled>Disabled</option>
        </select>
      </p>
      <p>
        <label for="selectCustomSearch">Category</label>
        <select name="" id="selectCustomSearch" class="form-control" required>
          <optgroup label="Active categories">
            <option value="cat1" selected>Category 1</option>
            <option value="cat2">Category 2</option>
            <option value="cat3">Category 3</option>
            <option value="cat4">Category 4</option>
            <option value="cat5">Category 5</option>
            <option value="cat6">Category 6</option>
          </optgroup>
          <optgroup label="Inactive categories" class="form-control">
            <option value="cat7">Category 7</option>
            <option value="cat8">Category 8</option>
            <option value="cat9">Category 9</option>
            <option value="cat10" disabled>Category 10</option>
            <option value="cat11">Category 11</option>
            <option value="cat12">Category 12</option>
            <option value="cat13">Category 13</option>
          </optgroup>
        </select>
      </p>
      <p>
        <label for="selectCustomSearch">Categories</label>
        <select name="" id="selectCustomMultiple" class="form-control" required multiple>
          <optgroup label="Active categories">
            <option value="cat1" selected>Category 1</option>
            <option value="cat2" selected>Category 2</option>
          </optgroup>
          <optgroup label="Inactive categories">
            <option value="cat3" disabled>Category 3</option>
            <option value="cat4">Category 4</option>
          </optgroup>
        </select>
      </p>
      <p>
        <label for="selectCustomDisabled">Disabled input</label>
        <select name="" id="selectCustomDisabled" class="form-control" required multiple disabled>
          <optgroup label="Active categories">
            <option value="cat1" selected>Category 1</option>
            <option value="cat2" selected>Category 2</option>
          </optgroup>
          <optgroup label="Inactive categories">
            <option value="cat3" disabled>Category 3</option>
            <option value="cat4">Category 4</option>
          </optgroup>
        </select>
      </p>
      <p>
        <label for="selectPopulated">Populated by JS</label>
        <select id="selectPopulated" class="form-control"></select>
      </p>
      <p>
        <label for="selectPopulatedGroups">Populated by JS using optgroup</label>
        <select id="selectPopulatedGroups" class="form-control"></select>
      </p>
      <p>
        <label for="selectPopulatedGroupsMultiple">Populated by JS using optgroup and multiple</label>
        <select id="selectPopulatedGroupsMultiple" class="form-control" multiple></select>
      </p>
      <button type="submit" class="btn btn-primary">Submit</button>

      <div id="vue-app">
        <h2>Vue integration</h2>
        <p>
          <label for="vueCategory">Category</label>
          <select id="vueCategory" class="form-control" v-model="value">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
          </select>
          {{ value }}
        </p>
        <p>
          <label for="vueCategories">Categories</label>
          <select id="vueCategories" class="form-control" v-model="values" multiple>
            <option v-for="option in options" :value="option.value" :key="option.value">{{ option.label }}</option>
          </select>
          {{ values }}
        </p>
      </div>

      <select class="form-control" is="selectra-input">
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
      </select>
    </form>
  </div>
  
  <script src="./selectra.min.js"></script>
  <script>
    // Using selectra directly
    const customSelectra = new Selectra('#selectCustom')
    customSelectra.init()

    // Selectra with config
    const selectCustomSearch = new Selectra('#selectCustomSearch', {
      search: true,
      langInputPlaceholder: 'Search a category'
    })
    selectCustomSearch.init()

    // Selectra by function
    createSelectra('#selectCustomMultiple', {
      search: true,
      langInputPlaceholder: 'Search a category',
      langEmptyValuePlaceholder: 'Choose one or more categories'
    })

    // Selectra by function
    createSelectra('#selectCustomDisabled', {
      search: true,
      langInputPlaceholder: 'Search a category',
      langEmptyValuePlaceholder: 'Choose one or more categories'
    })

    createSelectra('#selectPopulated', {
      options: [
        {
          value: '<">option1',
          label: '> "Option 1"'
        },
        {
          value: 'option2',
          label: 'Option 2'
        },
        {
          value: 'option3',
          label: 'Option 3',
          selected: true
        },
        {
          value: 'option4',
          label: 'Option 4',
          disabled: true
        }
      ]
    })
    
    createSelectra('#selectPopulatedGroups', {
      options: [
        {
          label: 'Group 1',
          options: [
            { value: '<option1', label: '> Option 1' },
            { value: '<">option2', label: '> testOption 2', selected: true }
          ]
        },
        {
          label: 'Group 2',
          options: [
            { value: 'option3', label: 'Option 3', disabled: true },
            { value: 'option4', label: 'Option 4' }
          ]
        }
      ]
    })
    createSelectra('#selectPopulatedGroupsMultiple', {
      options: [
        {
          label: 'Group 1',
          options: [
            { value: '<option1', label: '> Option Option 1', selected: true },
            { value: '<">option2', label: '< Option 2', selected: true }
          ]
        },
        {
          label: 'Group 2',
          options: [
            { value: 'option3', label: 'Option 3', disabled: true },
            { value: 'option4', label: 'Option 4' }
          ]
        }
      ]
    })

    // Vue part
    new Vue({
      el: '#vue-app',
      mounted () {
        createSelectra('#vueCategory')
        createSelectra('#vueCategories')
      },
      data () {
        return {
          value: false,
          values: ['option1', 'option2'],
          options: [
            { value: 'option1', label: '> Option 1' },
            { value: 'option2', label: '> Option 2' }
          ]
        }
      }
    })
  </script>
</body>
</html>
