$selectra-container-min-width: 300px !default;
$selectra-options-bg: #eee !default;
$selectra-options-max-height: 300px !default;
$selectra-options-scrollbar-width: 6px !default;
$selectra-options-scrollbar-track-color: #f1f1f1 !default;
$selectra-options-scrollbar-thumb-color: #888 !default;
$selectra-options-scrollbar-thumb-hover-color: #555 !default;
$selectra-options-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
$selectra-options-border-radius: 4px;
