.selectize-js-element {
  border: 0!important;
  clip: rect(0 0 0 0)!important;
  -webkit-clip-path: inset(50%)!important;
  clip-path: inset(50%)!important;
  height: 1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
  white-space: nowrap!important;
}

.selectize-js-option-group-label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.selectize-js-options {
  display: none;

  &.open {
    display: block;
  }
}

.selectize-js-container {
  position: relative;
  min-width: 300px;
  width: max-content;

  .selectize-js-options {
    background: #eee;
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 1;
    max-height: 300px;
    overflow-y: scroll;
  }

  .selectize-js-option,
  .selectize-js-option-group {
    padding: 0.3rem 1rem;
  }

  .selectize-js-option[data-selected="true"] {
    background: #ddd;
  }

  .selectize-js-option:hover {
    background: #ddd;
  }
}

.selectize-js-btn,
.selectize-js-input {
  cursor: pointer;
}

.selectize-js-option {
  cursor: pointer;
}
