.selectra-element {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.selectra-option-group-label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.selectra-options {
  opacity: 0;
  pointer-events: none;
  transition: 300ms ease-in-out;

  &.open {
    opacity: 1;
    pointer-events: all;
  }
}

.selectra-container {
  min-width: 300px;
  position: relative;
  width: max-content;
}

.selectra-options {
  background: #eee;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1rem;
  width: 100%;
  z-index: 1;

  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.selectra-option {
  margin-bottom: 4px;
  padding: 0.3rem 1rem;
}

.selectra-option[data-selected='true'],
.selectra-option:hover {
  background: #ddd;
  border-radius: 4px;
}

.selectra-btn,
.selectra-input {
  cursor: pointer;
}

.selectra-option {
  cursor: pointer;
}
